.mat-sidenav-container {
  height: 100%;
  background: white;
  
}
.mat-sidenav {
  width: 180px;
}
.main {
  position: relative;
  margin-top: 68px;
  z-index: 5;
}
.mat-toolbar {
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: #044979;
  border-color: #707070;
  border-width: 1px;
  overflow-x: hidden;
  width: 100%;
  height: 68px;
  padding: 0px 2vw;
}

.header--logo {
  vertical-align: middle;
  cursor: pointer;
  /* UX enhancement */
  padding-left: 4%;
  /* UX enhancement end */
}

.spacer {
  flex: 1 1 auto;
}
.list-item > .mat-list-item {
  color: #ffff !important;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}
.list-item {
  display: inline-flex;
  padding: 0px;
  margin-left: 25px;
}
.icon {
  color: #090101 !important;
}
.sidenav-list > .mat-list-item {
  color: black;
  text-transform: uppercase;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.header__actions {
  text-transform: none !important;
}

@media (min-width: 670px) {
  .sidenav-button {
    display: none;
  }
}
@media (max-width: 670px) {
  .list-item {
    display: none;
  }
}


.gov-header {
  background-color: #ecf3f0;
  padding: 20px 10px;
  border-bottom: 6px solid #e5e5e5;
}

.gov-header .container {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.gov-header .logo {
  height: 70px;
  width: auto;
}

.gov-header .text {
  color: white;
}

.gov-header .text .h1 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  line-height: 22.5px;
}

.gov-header .text .h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 100;
  opacity: 0.9;
  line-height: 16px;
}


@media (max-width: 600px) {
  .gov-header .container {
    flex-direction: column;
    text-align: center;
  }

  .gov-header .logo {
    height: 60px;
  }

  .gov-header .text h1 {
    font-size: 26px;
  }
}